<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /DEV/REACT/wecasa-haircut-app/
  #RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /DEV/REACT/wecasa-haircut-app/index.html [L]
  #RewriteRule . /index.html [L]

</IfModule>